/* *{
    width: 100%;
    box-sizing:border-box;

}  */
body{
    background-color: gray;
    
}

h1{
    background-color: rgb(202, 72, 94);
    margin: auto;
    text-align: center;
    border: 3px solid black;
    padding:10px;
    width: 50%;
    border-spacing: 5px;
    


    
}
h2{
    padding: 30px;
    margin: auto;
    text-align: 50px; 
    text-align: center;
    border-spacing: 5px;

    

}

p.one{
    margin-bottom: 10px;
}

div {

    margin: auto;
    width: 50%;
    border: 10px solid green;
    padding: 10px;
    background-color: white; 
    margin-top: 30px;
  

}

.center {
    display:block;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border:3px solid black;

    
}
   

ol.one {
    height: 35px;
    width: 10px;
    text-align: center;
    list-style-type: none;



}
h2.htwo {
    border: 3px dotted palevioletred;
    background-color: white;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
}

ol li {
    list-style: decimal;
}

h2.hone{

    border: 3px dotted palevioletred;
    background-color: white;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
}
